Log In 


<%= form_for :user, :url => sign_in_path, html: {class: "form-inline", role:"form"} do |f| %>
  <div class="form-group">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "email", class:"form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autofocus: true, class:"form-control", required: true %>
  </div>

  <div class="form-group">
    <br />
    <%= f.submit "Log in", class:"btn btn-primary"  %>
  </div>
<% end %>
