<!DOCTYPE html>
<html>
  <head>
    <title>Point of Sale Shop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="container-sm">
    <%= yield %>
  </body>

  <script>
    let charges_input = document.querySelector("#transaction_charges")
    let transaction_button = document.querySelector("#transaction_button")

    if (charges_input && transaction_button) {
      charges_input.addEventListener("change", () => {
        if (charges_input.value >= 100) {
        transaction_button.classList.remove("disabled")  
        } else {
          transaction_button.classList.add("disabled")  
        }
      })
    }
  </script>
</html>
